<div class="container">
  <div class="row">
    {{#each artistsArray}}
      <div class="card">
        {{#if images.0.url}}
          <img src="{{images.0.url}}" alt={{name}} class="card-img-top">
        {{else}}
          <img src="https://image.shutterstock.com/image-vector/ui-image-placeholder-wireframes-apps-260nw-1037719204.jpg" alt={{name}} class="card-img-top">
        {{/if}}
        <div class="card-body">
          <h5>{{name}}</h5>
          <a href="/albums/{{id}}">View Albums</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>